# Root EditorConfig
root = true

########################################
# Global settings
########################################

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

########################################
# Rust
########################################

[*.rs]
indent_size = 4

########################################
# Python
########################################

[*.py]
indent_size = 4

########################################
# C# / .NET
########################################

[*.cs]
indent_size = 4

########################################
# WPF / XAML
########################################

[*.xaml]
indent_size = 2

########################################
# JSON / YAML
########################################

[*.json]
indent_size = 2

[*.yml]
indent_size = 2

########################################
# Markdown
########################################

[*.md]
indent_size = 2
trim_trailing_whitespace = false
